.full-name {
  h1 {
    width: 100%;
    color: $color-white;
    @include interpolate(font-size, 31px, 48px);
    font-weight: 700;
    line-height: 1;
    @include margin(rem(34) null rem(10));

    @include mq($bp768) {
      width: percentage(5/10);
      @include margin(rem(68) null rem(48));
    }

    span {
      display: block;
      color: $color-charcoal;
      font-weight: 300;
      line-height: 1;

      @include mq($bp768) {
        line-height: rem(57);
      }
    }
  }
}
